dtd/rules.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2008 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="rules">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="exact"/>
					<xs:element ref="fuzzy"/>
				</xs:sequence>
				<xs:element ref="exact"/>
				<xs:element ref="fuzzy"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="exact">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="r" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fuzzy">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="r" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="r">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="replace" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="target" type="xs:anySimpleType" use="required"/>
			<xs:attribute name="position" default="all">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="all"/>
						<xs:enumeration value="exact"/>
						<xs:enumeration value="end"/>
						<xs:enumeration value="begin"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="sensitive" default="0">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="replace" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="replace">
		<xs:complexType mixed="true">
			<xs:attribute name="position" default="all">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="all"/>
						<xs:enumeration value="exact"/>
						<xs:enumeration value="end"/>
						<xs:enumeration value="begin"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="sensitive" default="0">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
